{% load static %}
<link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
      integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
      crossorigin=""
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
<style>
    body{
        margin: 0;
    }



</style>
<div style="background: rgb(208, 204, 200); position: relative; width: 100%; height: 77px;">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#"
                >Home <span class="sr-only">(current)</span></a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Dropdown
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
            <li class="nav-item">
              <a
                class="nav-link disabled"
                href="#"
                tabindex="-1"
                aria-disabled="true"
                >Disabled</a
              >
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input
              class="form-control mr-sm-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
            <button class="btn btn-outline-success my-2 my-sm-1" type="submit">
              Search
            </button>
            <a
              href="{% url 'logout' %}"
              class="btn btn-outline-danger my-2 my-sm-1"
              type="submit"
            >
              Logout
            </a>
          </form>
        </div>
      </nav>
</div>

<div class="intro" style="position: relative;height: 240px; padding-top: 5%; background:rgb(129, 128, 128); padding: 3%;">
    <div>
        <h1>Welcome to GDCM</h1>
        <h3>We allows to collect geospatial data at field level as well as at macro level</h3>

    </div>
</div>
<div class="search" style="height: 200px;padding: 0 10%;">
    <div style="position: relative; top: 50%; text-align: center;">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Explore Datasets" aria-label="Recipient's username" aria-describedby="button-addon2">
            <button class="btn btn-outline-secondary" type="button" id="button-addon2">Search</button>
        </div>
        <a class = 'm-1' href="{% url 'advanced_search' %}">Advanced Search</a>
    </div>
</div>
<div class="content" style="height: 300px; background:black; color:white; display: flex; flex-direction:column; justify-content: center; align-items: center;">
    <div style="display: flex; flex-direction:row">
        <div style="background: white; width: 100px; height: 100px; margin: 10px;">

        </div>
        <div style="background: white; width: 300px; height: 100px; margin: 10px;">

        </div>
        <div style="background: white; width: 100px; height: 100px; margin: 10px;">

        </div>
        <div style="background: white; width: 300px; height: 100px; margin: 10px;">

        </div>
    </div>
    
</div>
<div class="footer" style="height: 100px; display: flex; justify-content: center; align-items: center;">
    <div>
        <h2>DESIGNED AND DEVELOPED BY __TEAM</h2>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>